.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
**/ephemeral/
**/.gradle/
**/local.properties
**/GeneratedPluginRegistrant.*
**/Pods/
**/.symlinks/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/Flutter/App.framework/
**/Flutter/Flutter.framework/
.idea/
*.iml
.DS_Store
**/key.properties
*.jks
.keystore
.env
.env.
